.horizontal-align-center {
  text-align: center;
}

.vertical-align-center {
  margin-top: auto;
  margin-bottom: auto;
}

.Details {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

.Details > * > div {
  margin-bottom: 15px;
  text-align: center;
  border-radius: 5px;
  padding: 12px;
}

.details-header {
  position: sticky;
  top: 0px;
  padding: 15px;
  z-index: 5;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #282828;
}

.details-header > *{
  display: inline-block;
}

.details-header h1, .details-header p{
  color: white;
  margin: 0;
}

.details-heading {
  font-size: 22px;
}

.data-origin {
  color: gray !important;
}

h1,h2,h3 {
  margin: 0 !important;
}

h1 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

h2 {
  font-size: 26px;
}

.Details div h2 {
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.TotalCases h2 {
  color: black;
}

.recharts-surface {
  width: 100%;
}

.recharts-responsive-container {
  margin: 0 auto;
}

.ActiveCases h2{
  color: red;
}

.Deaths h2{
  color: brown;
}

.Recovered h2{
  color: green;
}

#back {
  border-width: 0px;
  z-index: 10;
}

.TotalCases h3 {
  font-size: 18px;
  color: gray;
  font-weight: 500;
}

.pulsate {
  animation: pulse 1.5s ease-out;
  -webkit-animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
    transform: scale(0.9);
	}

	70% {
    transform: scale(1);
	}

	100% {
    transform: scale(0.9);
	}
}

.country-before, .country-after {
  opacity: 0.33;
  padding: 5px;
  transition: 250ms;
}

.country-before:hover, .country-after:hover {
  opacity: 1;
  cursor: pointer;
}


.country-before:hover {
  transform: translateX(-5px)
}

.country-after:hover {
  transform: translateX(5px)
}