
.App {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}

.App h1 {
  font-size: 28px;
}

#getInfo {
  margin-top: 5px;
}

#root {
  width: 100%;
}

button {
  font-weight: 300 !important;
}